<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity android:name=".AddUserActivity" android:exported="false" />
        <activity android:name=".EditUserActivity" android:exported="false" />
        <activity android:name=".SuspendUserActivity" android:exported="false" />
        <activity android:name=".NewsManagementActivity" android:exported="false" />
        <activity android:name=".ProductMonitoringActivity" android:exported="false" />
        <activity android:name=".ComplaintHandlingActivity" android:exported="false" />
        <activity android:name=".SystemSettingsActivity" android:exported="false" />
        <activity android:name=".AdminAnalyticsActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerDashboard"
            android:exported="true" />
        <activity android:name=".FarmerDashboard" />
        <activity android:name=".FarmerSettingsActivity" />
        <activity android:name=".FarmerProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FarmerActiveSurveysActivity" />
        <activity android:name=".YieldSurveyFormActivity" />
        <activity android:name=".FarmerAnalyticsActivity" />
        <activity android:name=".FarmerCustomerInteractionActivity" />
        <activity android:name=".FarmerNotificationsActivity" />
        <activity android:name=".FarmerKnowledgeHubActivity" />
        <activity android:name=".FarmerSupportActivity" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>